#filter-form {
    width: 90%;
    margin: 0 auto;
}

#filter-form fieldset, #filter-form #new-location-btn {
    display: inline-block;
    border: none;
}

#filter-form fieldset input[text], #filter-form fieldset label{ 
    display: block;
}

#new-location-btn {
    text-align: center;
    margin: 5px;
}

#new-location-btn button { 
    background-color: #7FE3AF;
    border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    color:#000000;
    padding: 8px;
    text-decoration:none;
    transition: background-color .5s ease;
}

#new-location-btn button:hover {
    cursor: pointer;
    background-color: #7FFFAF 
}