body, html{
    height: 100%;
    width: 100%;

    background-color: #ffffe6;
    font-family: Tahoma,Verdana,sans-serif;
}

#map-wrapper {
    height: 90%;
    width: 90%;
    margin: auto;
}

uc-map#uc-map {
    border-style: solid;
    border-width: 2px;
    border-color: #afc3ff;
    height: 90%;
    width: 90%;
    position: absolute;
}
