body, html{
    height: 100%;
    width: 100%;

    background-color: #ffffe6;
    font-family: Tahoma,Verdana,sans-serif;
}

#content {
    height: 100%;
    width: 100%
}

.center {
    text-align: center;
}

#filter-form {
    width: 90%;
    margin: 0 auto;
}

#filter-form fieldset, #filter-form #new-location-btn {
    display: inline-block;
    border: none;
}

#filter-form fieldset input[text], #filter-form fieldset label{ 
    display: block;
}

#new-location-btn {
    text-align: center;
    margin: 5px;
}

#new-location-btn button { 
    background-color: #7FE3AF;
    border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    color:#000000;
    padding: 8px;
    text-decoration:none;
    transition: background-color .5s ease;
}

#new-location-btn button:hover {
    cursor: pointer;
    background-color: #7FFFAF 
}

#map-wrapper {
    height: 90%;
    width: 90%;
    margin: auto;
}

#map {
    border-style: solid;
    border-width: 2px;
    border-color: #afc3ff;
    height: 90%;
    width: 100%;
}

#toggle-menus {
    z-index: 99; /* problems and most are css */
    right: 5px;
    position: absolute;
}

/* CSS is from https://www.mapbox.com/mapbox.js/example/v1.0.0/layers/ */
.menu-ui {
    background: #fff;
    margin: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
}

.menu-ui a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

.menu-ui a:first-child {
    border-radius: 3px 3px 0 0;
}

.menu-ui a:last-child {
    border:none;
    border-radius: 0 0 3px 3px;
}

.menu-ui a:hover {
    background: #f8f8f8;
    color: #404040;
}

.menu-ui a.active {
    background: #3887BE;
    color: #FFF;
}

.menu-ui a.active:hover {
    background: #3074a4;
}
